.container__content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content__image > img {
    margin-top: 10px;
    border: 1px grey solid;
    border-radius: 8px;
    height: 300px;
    width: 500px;
    min-width: 500px;
}

.content__title > h1 {
    border-bottom: 1px white solid;
}

.content__description {
    margin-top: 15px;
}

.content__description > p {
    margin-top: 10px;
    color: grey;
}